extends layout

block styles
	link(rel='stylesheet', href='/css/approval.css')
block content
	.row
		.col-xs-12.col-md-offset-1.col-md-10

			.jumbotron
				h2 Request Overview
				#request
					- var did_match_user = (request.user && request.user.length > 0);
					if did_match_user
						h2 Contact 
						.shadow-box
							p
								span 
									b Name: 
								span= request.user[0].name
							p
								span 
									b Email: 
								span= (request.user[0].email ? request.user[0].email : "No email on file.")
							p
								span 
									b Phone: 
								span= (request.user[0].phone ? request.user[0].phone : "No phone on file.")
					h2 Trip Itinerary
					.shadow-box
						each leg in request.legs
							p
								span.date(data-unformatted="#{leg.start_date}")
								span  - 
								span.date(data-unformatted="#{leg.end_date}")
								span : #{leg.country}
							p 
								span
									em Description: 
								span= (leg.description ? leg.description : "No description on file.")
					h2 Comments #{(request.comments.length > 0 ? "(" + request.comments.length + ")" : "")}
					.shadow-box
						table#comments
							each comment in request.comments
								p
									span 
										b Email: 
									span= comment.email
								p
									span 
										b Time: 
									span.timestamp(data-unformatted="#{comment.timestamp}")
								p
									span
										b Comment: 
									span= comment.content
						form(action="/api/requests/#{request._id}/comments", method="POST")
							textarea.form-control#new-comment(rows=3, onkeyup="commentStoppedTyping()", name="content")
							button.btn.btn-default.disabled#submit-comment(type="submit") Submit Comment

				// If supervisor or higher
				if user.access > 0 
					#request_approval.row
						.col-xs-6
							// a(href="/api/requests/#{request._id}/approve") 
							button(class="btn btn-success", id="request-approve-btn") Approve
						.col-xs-6
							// a(href="/api/requests/#{request._id}/deny") 
							button(class="btn btn-danger", id="request-deny-btn") Deny
				// If the user is the owner of the request
				if did_match_user && (user.email == request.user[0].email)
					#request_delete.row
						.col-xs-12
							a(href="/api/requests/#{request._id}/delete") 
								button(class="btn btn-danger") Delete Request
				#request_pagination.row
					.col-xs-6
						a(href=(prev_request_id ? "/dashboard/requests/#{prev_request_id}" : "")) 
							button(class="btn btn-default" + (prev_request_id ? "" : " disabled")) < Prev
					.col-xs-6
						a(href=(next_request_id ? "/dashboard/requests/#{next_request_id}" : "")) 
							button(class="btn btn-default" + (next_request_id ? "" : " disabled")) Next >

block scripts
	script(src='/js/moment.js')
	script(src='/js/approval.js')
