extends layout

block styles
	link(href='/css/selectize.css', rel='stylesheet')
	link(href='/css/selectize.bootstrap3.css', rel='stylesheet')
	link(href='/css/intlTelInput.css', rel='stylesheet')
	link(rel='stylesheet', href='/css/profile.css')

block content
	.row
		.col-xs-12.col-md-offset-1.col-md-10
			.jumbotron
				
				//- Country Flag
				img#countryFlag(src='/image/flags/' + userToShow.countryCode.toLowerCase() + '.svg')
				
				//- Header name
				#headerName
					h2= userToShow.name
					.pendingLabelBox
						if userToShow.pending
							span.pendingLabel.label.label-warning Pending Email Verification
						else
							span.pendingLabel.label.label-success Email Verified
				
				//- Form Fields
				form#profile
				
					include flash
					
					input.hidden#userId(value=userToShow._id)
					input.hidden#loggedInUserId(value=user._id)
					input.hidden#disableProfile(value=((user.access == 2 || user._id.toString() === userToShow._id.toString()) ? 'false' : 'true'))
					
					label(for='name') Name
					input.form-control#name(value=(userToShow.name ? userToShow.name : ''), data-default=(userToShow.name ? userToShow.name : ''), placeholder='John Doe', disabled=!(user.access == 2 || user._id.toString() === userToShow._id.toString()))
					
					label(for='name') Email
					input.form-control#email(value=(userToShow.email ? userToShow.email : ''), data-default=(userToShow.email ? userToShow.email : ''), placeholder='johndoe@peacecorps.gov', disabled=!(user.access == 2 || user._id.toString() === userToShow._id.toString()))
					
					label(for='name') Phone Number(s)
					#phoneNumbers
					button(type='button', disabled=!(user.access == 2 || user._id.toString() === userToShow._id.toString()))#addPhone.btn-override.btn.btn-info Add Extra Phone Number
					
					label(for='name') Country
					select.form-control#country(value=userToShow.countryCode, data-default=userToShow.countryCode, disabled=!(user.access == 2 || user._id.toString() === userToShow._id.toString()))
					
					label(for='access') Access Level
					select.form-control#access(value=userToShow.access, data-default=userToShow.access, disabled=!(user.access == 2))
					
					button.btn.btn-success(type='submit' disabled) Update Profile

					if user.access == 2 || user._id.toString() === userToShow._id.toString()
						button#deleteAccount.btn.btn-danger Delete Account
				
block scripts
	script.
		var userToShow = !{JSON.stringify(userToShow)};
	script(src='/js/selectize.min.js')
	script(src='/js/profile.js')
	script(src='/js/intlTelInput.min.js')
	script(src='/js/utils.js')
