extends layout

block styles
    // Register page style
    link(href='/css/register.css', rel='stylesheet')
block content
    .login-container
      form.form-signin(action='/api/register', method='post')
        h2.form-signin-heading
          p Register

        include flash

        label.sr-only(for='signupToken') Registration Token
        input#signupToken.form-control.hidden(type='text', placeholder='Token Value', required='', autofocus='', name='token', value=submission.token)
        label.sr-only(for='signupEmail') Email address
        input#signupEmail.form-control(type='email', placeholder='Enter Email Address', required='', autofocus='', name='email', value=submission.email)
        label.sr-only(for='signupPhone') Phone Number
        input#signupPhone.form-control(type='tel', placeholder='Phone Number', required='', autofocus='', name='phone', value=submission.phone)
        label.sr-only(for='signupPassword') Password
        input#signupPassword.form-control(type='password', placeholder='Enter Password', required='', name='password', value=submission.password)
        label.sr-only(for='signupPassword2') Password
        input#signupPassword2.form-control(type='password', placeholder='Re-Enter Password', required='', name='password2', value=submission.password2)

        button#signupInfo.submit-btn.btn.btn-lg.btn-default.btn-block(type='submit') Sign Up


block scripts
    // jQuery (for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    // Include all complied plugins
    script(src='/js/bootstrap.min.js')
    script(src='/js/register.js')



